body {
    width: 100%;
    position: static;
    overflow: hidden;
}

.home {
    max-width: 600px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1,
p {
    font-family: sans-serif;
    text-align: center;
}

div p {
    padding: 20px;
}


p#counter {
    overflow: hidden;
    padding: 0px;
    margin:auto;
    height: 200px;
    font-size: 10em;
}

div#config {
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    text-align: center;
}